<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ziq.baselib">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".LibApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <meta-data
            android:name="com.ziq.baselib.GlobalConfiguration"
            android:value="ConfigModule" />



        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Camera2Activity"/>
        <activity android:name=".Activity.RoomActivity"/>
        <activity android:name=".Activity.SocketActivity"/>
        <activity android:name=".Activity.WorkManagerActivity"/>
        <activity android:name=".Activity.OpenglTestActivity"/>
        <activity android:name=".Activity.InstallApkActivity"/>
        <activity android:name=".Activity.UIBlockCheckActivity"/>
        <activity android:name=".Activity.PermissionActivity"/>
        <activity android:name=".Activity.ImageLoaderTestActivity"/>
        <activity android:name=".Activity.ShellCmdActivity"/>
        <activity android:name=".Activity.AudioRecordActivity"/>
        <activity android:name=".Activity.MediacodecActivity"/>
        <activity android:name=".Activity.muxer.MuxerActivity"/>
        <activity android:name=".Activity.DataTranslateTestActivity"/>
        <activity android:name=".Activity.AesEncryptionActivity"/>
        <activity android:name=".Activity.BluetoothActivity"/>
        <activity android:name=".Activity.TestActivity"/>
        <activity android:name=".Activity.NetSpeedActivity"/>
        <activity android:name=".Activity.FragmentTestActivity"/>
        <activity android:name=".Activity.RetrofitActivity"/>
        <activity android:name=".test.TestByteBufferActivity"/>
        <activity android:name="com.ziq.base.mvvm.demo.LoginDemoActivity"/>

        <receiver android:name=".receive.BootBroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receive.ShutdownBroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receive.BluetoothMusicButtonReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.media.ACTION_SCO_AUDIO_STATE_UPDATED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.UPDATE_SUSPEND_TIME_BY_HAND" />
            </intent-filter>
        </receiver>




    </application>

</manifest>